apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "todo-app.fullname" . }}-backend-config
  labels:
    {{- include "todo-app.labels" . | nindent 4 }}
data:
  HOST: "0.0.0.0"
  PORT: {{ .Values.backend.port | quote }}
  PYTHONPATH: "/app"
  COHERE_MODEL: {{ .Values.config.cohereModel | quote }}
